{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
<!--
symbol
period
interval
risk_ratio_stoploss
risk_ratio_takeprofit
lot_size
initial_balance
comission
initial_stocks
real_time
algorithm
stop_config
requirements
-->
{% block main %}
    <div id="loading-screen" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 9999; justify-content: center; align-items: center;">
        <div class="spinner center">
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
        </div>
    </div>


    
    <p class="fs-1" style="text-align: center;">Stock Market Strategy Simulation</p>
    <form action="/" id="form" method="post">
        <div class="input-group mb-3">
            <div class="input-group mb-3">
                <input name="symbol" id="symbol" type="text" class="form-control" placeholder="Stock Symbol">
                <p style="visibility: hidden;">...</p>
                <button class="btn btn-outline-secondary" type="submit">Start Simulation</button>
            </div>
            <div class="input-group">
                <select name="period" id="period" class="form-select">
                    <option disabled selected>Period</option>
                    <option value="max">Maximum</option>
                    <option value="ytd">Year to Date</option>
                    <option value="5y">5 Years</option>
                    <option value="1y">1 Year</option>
                    <option value="6mo">6 Months</option>
                    <option value="3mo">3 Months</option>
                    <option value="1mo">1 Month</option>
                    <option value="5d">5 Days</option>
                    <option value="1d">1 Day</option>
                </select>
                <p style="visibility: hidden;">...</p>
                <select name="interval" id="interval" class="form-select">
                    <option disabled selected>Interval</option>
                    <option value="1m">1 Minute</option>
                    <option value="5m">5 Minutes</option>
                    <option value="1h">1 Hour</option>
                    <option value="5h">5 Hours</option>
                    <option value="1d">1 Day</option>
                    <option value="5d">5 Days</option>
                    <option value="1wk">1 Week</option>
                    <option value="5wk">5 Weeks</option>
                    <option value="1mo">1 Month</option>
                    <option value="5mo">5 Months</option>
                </select>
                <p style="visibility: hidden;">...</p>
                <button onclick="toggle_visibility('advanced options')" class="btn btn-outline-secondary" type="button">Advanced Options</button>
            </div>
            <div id="advanced options" style="display: none; padding-top: 48px;">
                <div class="input-group mb-3">
                    <input name="initial_balance" id="initial_balance" value=10000 type="text" class="form-control" placeholder="Initial Balance">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">Initial Balance</span>
                    <p style="visibility: hidden;">...</p>
                    <input name="lot_size" id="lot_size" value=75 type="text" class="form-control" placeholder="Maximum Percentage">
                    <span class="input-group-text">%</span>
                    <span class="input-group-text">of Ballance per Trade</span>
                </div>
                <div class="input-group mb-3">
                    <input name="initial_stocks" id="initial_stocks" value=0 type="text" class="form-control" placeholder="Initial Stocks">
                    <span class="input-group-text">Initial Amount of Stocks</span>
                    <p style="visibility: hidden;">...</p>
                    <input name="comission" id="comission" value=1 type="text" class="form-control" placeholder="Comission">
                    <span class="input-group-text">%</span>
                    <span class="input-group-text">Comission</span>
                    <p style="visibility: hidden;">...</p>
                    <button onclick="toggle_visibility('edit functions')" class="btn btn-outline-secondary" type="button">Edit Strategy Functions</button>
                </div>
                <div id="edit functions" style="display: none; padding-top: 48px;">

                    <p class="fs-3">Algorithm Editor</p>
                    <div id="algorithm_div" class="code_editor shadow p-3 mb-5 bg-body rounded"></div>

                    <br><br><br>

                    <p class="fs-3">Requirements Installment Editor</p>
                    <p>Installs requirements to the python enviroment.<br>e.g.: pandas numpy ta matplotlib<br>Only one use needed per library</p>
                    <div id="requirements_div" style="height: 5vw;" class="code_editor shadow p-3 mb-5 bg-body rounded"></div>
                </div>
            </div>
        </form>
        <div id="algorithm_data" style="display:none;">{{ algorithm_data | safe }}</div>

        <input name="algorithm" id="algorithm" type="hidden"></input>
        <input name="requirements" id="requirements" type="hidden"></input>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>

    <script>
        function toggle_visibility(y) {
            var x = document.getElementById(y);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        require.config({
            paths: {
                'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs'
            }
        });

        require(['vs/editor/editor.main'], function() {
            function createEditor(div, data) {
                monaco.editor.create(document.getElementById(div), {
                    value: document.getElementById(data).textContent,
                    language: 'python',
                    theme: 'vs',
                    automaticLayout: true,
                    fontSize: 14,
                    minimap: {
                        enabled: false
                    },
                    glyphMargin: false
                });
            }

            createEditor('algorithm_div', 'algorithm_data');
            createEditor('requirements_div', 'requirements_div');
        })

        document.getElementById('form').addEventListener('submit', function(event) {
            event.preventDefault();

            const algorithm = monaco.editor.getModels()[0].getValue();
            const requirements = monaco.editor.getModels()[1].getValue();

            document.getElementById('algorithm').value = algorithm;
            document.getElementById('requirements').value = requirements;

            document.getElementById('loading-screen').style.display = 'flex';

            this.submit();
        });

    </script>
{% endblock %}
